<!--/w3l-footer-29-main-->
<footer itemscope itemtype="http://schema.org/Organization">
    <section class="w3l-footer">
      <div class="w3l-footer-16-main py-5">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 column">
              <div class="row">
                <nav class="col-md-4 column">
                  <h3>Useful Links</h3>
                  <ul class="footer-gd-16" role="menu">
                    <li role="menuitem"><a routerLink="/" aria-label="Home">Home</a></li>
                    <li role="menuitem"><a routerLink="/about" aria-label="About Us">About Us</a></li>
                    <li role="menuitem"><a routerLink="/contact" aria-label="Contact Us">Contact Us</a></li>
                    <li role="menuitem"><a routerLink="/" aria-label="FAQs">FAQs</a></li>
                  </ul>
                </nav>
                <div class="col-md-3 column mt-md-0 mt-3">
                  <h3>Visit Us</h3>
                  <ul class="footer-gd-16">
                    <iframe class="rounded w-100 h-100" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d58733.57115788828!2d72.5425265!3d23.0660263!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x63f0e018affc3ea5%3A0x939e94e0a99d7ba0!2sMadhav%20Overseas!5e0!3m2!1sen!2sin!4v1697184834074!5m2!1sen!2sin" width="600" height="450" style="border:0 solid;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </ul>
                </div>
                
                <div class="col-md-5 column mt-md-0 mt-5">
                  <h3>Contact Information</h3>
                  <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <ul class="footer-gd-16">
                      <li><p><i class="fa fa-map-marker" aria-hidden="true"></i> <span itemprop="streetAddress">201, Sangath Mall-1, Motera</span>, <span itemprop="addressLocality">Ahmedabad</span>, <span itemprop="addressRegion">Gujarat</span> <span itemprop="postalCode">382424</span></p></li>
                      <li><p><i class="fa fa-mobile" aria-hidden="true"></i> <span itemprop="telephone">+91-7778832033</span></p></li>
                      <li><p><i class="fa fa-envelope" aria-hidden="true"></i> <span itemprop="email">dir.madhavoverseas&#64;gmail.com</span></p></li>
                    </ul>
                  </address>
                </div>
              </div>
            </div>
            <div class="col-lg-5 col-md-12 column pl-lg-5 column4 mt-lg-0 mt-5">
              <h3>Newsletter </h3>
              <div class="end-column">
                <h4>Get latest updates and offers.</h4>
                <form action="#" class="subscribe" method="post">
                  <input type="email" name="email" placeholder="Email Address" required="">
                  <button type="submit">Go</button>
                </form>
                <p>Sign up for our latest news & articles. We won't give you spam mails.</p>
              </div>
            </div>
          </div>
          <div class="d-flex below-section justify-content-between align-items-center pt-4 mt-5">
            <div class="columns text-lg-left text-center">
              <p>&copy; 2025 MadhavOverseas. All rights reserved.<br/>Design by <a href="#" target="_blank">
                MadhavOverseas</a>
              </p>
            </div>
            <div class="columns-2 mt-lg-0 mt-3">
                <ul class="social">
                    <li><a href="https://www.facebook.com/profile.php?id=61572904419712"  target="_blank"><span class="fab fa-facebook-f" aria-hidden="true"></span></a></li>
                    <li><a href="https://www.linkedin.com/company/madhav-overseas"  target="_blank"><span class="fab fa-linkedin-in" aria-hidden="true"></span></a></li>
                   
                    <li><a href="#google"><span class="fab fa-google" aria-hidden="true"></span></a></li>
                    <li><a href="https://www.instagram.com/madhav_overseas/" target="_blank"><span class="fab fa-instagram" aria-hidden="true"></span></a></li>
                </ul>
                
            </div>
          </div>
        </div>
      </div>
  
      <!-- move top -->
  