<section class="w3l-about-breadcrumb text-left">
    <div class="breadcrumb-bg breadcrumb-bg-about py-sm-5 py-4">
      <div class="container py-2">
        <h2 class="title">About Us</h2>
        <ul class="breadcrumbs-custom-path mt-2">
          <li><a routerLink="Home">Home</a></li>
          <li class="active"><span class="fa fa-arrow-right mx-2" aria-hidden="true"></span> About </li>
        </ul>
      </div>
    </div>
  </section>
  <!-- //about breadcrumb -->
  <!-- /about-6-->
  <section class="w3l-cta4 py-5">
      <div class="container py-lg-5">
        <div class="ab-section text-center">
          <h6 class="sub-title">About Us</h6>
          <h3 class="hny-title">About Madhav Overseas And It's Innovative Guidence</h3>
          <p class="py-3 mb-3">At Madhav Overseas, we are committed to shaping the dreams of countless individuals seeking to embark on a journey of higher education abroad. Founded and directed by Dhaval Joshi, a visionary in the field of overseas education, our company stands as a guiding light for students aspiring to broaden their horizons and experience the world's finest educational institutions.</p>
            <h4>Our Founder and Director - Dhaval Joshi</h4>
            <p class="py-3 mb-3">Dhaval Joshi, the driving force behind Madhav Overseas, brings a wealth of experience and expertise in the field of overseas education. With a deep-rooted passion for helping students achieve their educational aspirations, Dhaval has consistently strived to provide the best possible guidance and support to those who aim to study in foreign lands. Dhaval's unwavering commitment to the students, coupled with his in-depth knowledge of international education systems, has made Madhav Overseas a trusted name in the industry. His relentless pursuit of excellence and his genuine concern for each student's future have earned him the respect and admiration of both students and partner institutions.</p>
        </div>
        <div class="row mt-5">
          <div class="col-md-9 mx-auto">
            <img src="assets/images/Dhaval1.jpg" class="img-fluid" alt="">
          </div>
        </div>
      </div>
  </section>
  <!-- //about-6-->
   <!-- /content-6-->
   <section class="w3l-content-6 py-5">
    <div class="container py-lg-5">
      <div class="row">
          <div class="ab-section text-center">
          <h6 class="sub-title">Our Company Goal</h6>
          <p class="py-3 mb-3">At Madhav Overseas, our primary goal is to facilitate and simplify the complex process of studying abroad. We understand that the decision to pursue education in a foreign country is life-changing, and it can be overwhelming. Therefore, our mission is to provide comprehensive support to our students at every step of their journey, making the process as smooth and stress-free as possible. We are dedicated to offering personalized guidance, expert advice, and a wide range of services tailored to the unique needs of each student. Our commitment to excellence is underpinned by the following objectives:</p>
        </div>
        <div class="col-lg-6 content-6-left pr-lg-5">
          <h6 class="sub-title">Empowerment</h6>
            <p class="mb-3">We empower students by helping them make informed decisions about their academic and career choices.</p>
            <h6 class="sub-title">Access</h6>
            <p class="mb-3">We aim to broaden access to international education by assisting students in finding the right programs and institutions.</p>
            <h6 class="sub-title">Success</h6>
            <p class="mb-3">We measure our success by the success of our students, as we strive to see them achieve their academic and career goals.</p>
        </div>
        <div class="col-lg-6 content-6-right mt-lg-0 mt-4">
          <h6 class="sub-title">Support</h6>
            <p class="mb-3">We provide unwavering support, guidance, and assistance throughout the application and visa processes, ensuring a seamless transition to studying abroad.</p>
            <h6 class="sub-title">Integrity</h6>
            <p class="mb-3">We uphold the highest standards of integrity and ethics in all our interactions with students and partner institutions.</p>
            <h6 class="sub-title">Madhav Overseas is not just an education consultancy</h6>
            <p class="mb-3">It's a partner in your journey to a brighter future. We believe that every student deserves an opportunity to excel, and we are here to turn that belief into reality. With Dhaval Joshi's leadership and our dedicated team, we look forward to guiding you toward the educational experience of a lifetime. Join us on this exciting journey of discovery and personal growth as you explore the world through the lens of education.</p>
        </div>
      </div>
    </div>
</section>
<!-- //content-6-->
<!-- Study Destination Card Start -->
<section class="w3l-grids1">
  <div class="hny-three-grids py-5">
    <div class="container py-lg-5">
      <div class="row">
        <div class="col-md-3 col-sm-6 mt-0 grids5-info">
          <a href="#url"><img src="assets/images/sydney.jpg" class="img-fluid img-flood" alt=""></a>
          <h5>Study In</h5>
          <h4><a href="#url">Australia</a></h4>
          <p>Studying in Australia can be a rewarding experience, as the country is known for its high-quality education system, diverse culture, and beautiful landscapes.</p>
        </div>
        <div class="col-md-3 col-sm-6 mt-sm-0 mt-5 grids5-info">
          <a href="#url"><img src="assets/images/ca-1.png" class="img-fluid img-flood" alt=""></a>
          <h5>Study In</h5>
          <h4><a href="#url">Canada</a></h4>
          <p>Studying in Canada is a popular choice for international students due to its high-quality education system, cultural diversity, and beautiful landscapes.</p>
        </div>
        <div class="col-md-3 col-sm-6 mt-md-0 mt-5 grids5-info">
          <a href="#url"><img src="assets/images/uk-1.jpg" class="img-fluid img-flood" alt=""></a>
          <h5>Study In</h5>
          <h4><a href="#url">UK</a></h4>
          <p>Studying in the United Kingdom (UK) is a popular choice for international students due to its prestigious universities, diverse cultural experiences, and the English language of instruction.</p>
        </div>
        <div class="col-md-3 col-sm-6 mt-md-0 mt-5 grids5-info">
          <a href="#url"><img src="assets/images/usa.jpg" class="img-fluid img-flood" alt=""></a>
          <h5>Study In</h5>
          <h4><a href="#url">USA</a></h4>
          <p>Studying in the United States is a popular choice for international students due to its world-class universities, diverse academic programs, and cultural opportunities.</p>
        </div>
      </div>
    </div>
  </div>
</section>