<div class="table-wrapper">
    <table>
        <thead>
            <tr class="custom-striped-odd">
                <th>Band Score</th>
                <th>IELTS</th>
                <th>TOEFL (iBT)</th>
                <th>PTE</th>
                <th>Cambridge English Scale</th>
                <th>Duolingo</th>
            </tr>
        </thead>
        <tbody>
            <tr class="custom-striped-even">
                <td data-label="Band Score">9</td>
                <td data-label="IELTS">9</td>
                <td data-label="TOEFL (iBT)">120</td>
                <td data-label="PTE">90</td>
                <td data-label="Cambridge English Scale">230</td>
                <td data-label="Duolingo">160</td>
            </tr>
            <tr class="custom-striped-odd">
                <td data-label="Band Score">8.5</td>
                <td data-label="IELTS">8.5</td>
                <td data-label="TOEFL (iBT)">115</td>
                <td data-label="PTE">83</td>
                <td data-label="Cambridge English Scale">221</td>
                <td data-label="Duolingo">145</td>
            </tr>
            <tr class="custom-striped-even">
                <td data-label="Band Score">8</td>
                <td data-label="IELTS">8</td>
                <td data-label="TOEFL (iBT)">110</td>
                <td data-label="PTE">79</td>
                <td data-label="Cambridge English Scale">216</td>
                <td data-label="Duolingo">135</td>
            </tr>
            <tr class="custom-striped-odd">
                <td data-label="Band Score">7.5</td>
                <td data-label="IELTS">7.5</td>
                <td data-label="TOEFL (iBT)">102</td>
                <td data-label="PTE">73</td>
                <td data-label="Cambridge English Scale">207</td>
                <td data-label="Duolingo">125</td>
            </tr>
            <tr class="custom-striped-even">
                <td data-label="Band Score">7</td>
                <td data-label="IELTS">7</td>
                <td data-label="TOEFL (iBT)">94</td>
                <td data-label="PTE">65</td>
                <td data-label="Cambridge English Scale">193</td>
                <td data-label="Duolingo">115</td>
            </tr>
            <tr class="custom-striped-odd">
                <td data-label="Band Score">6.5</td>
                <td data-label="IELTS">6.5</td>
                <td data-label="TOEFL (iBT)">79</td>
                <td data-label="PTE">58</td>
                <td data-label="Cambridge English Scale">180</td>
                <td data-label="Duolingo">105</td>
            </tr>
            <tr class="custom-striped-even">
                <td data-label="Band Score">6</td>
                <td data-label="IELTS">6</td>
                <td data-label="TOEFL (iBT)">60</td>
                <td data-label="PTE">50</td>
                <td data-label="Cambridge English Scale">169</td>
                <td data-label="Duolingo">95</td>
            </tr>
            <tr class="custom-striped-odd">
                <td data-label="Band Score">5.5</td>
                <td data-label="IELTS">5.5</td>
                <td data-label="TOEFL (iBT)">46</td>
                <td data-label="PTE">42</td>
                <td data-label="Cambridge English Scale">162</td>
                <td data-label="Duolingo">85</td>
            </tr>
            <tr class="custom-striped-even">
                <td data-label="Band Score">5</td>
                <td data-label="IELTS">5</td>
                <td data-label="TOEFL (iBT)">35</td>
                <td data-label="PTE">35</td>
                <td data-label="Cambridge English Scale">154</td>
                <td data-label="Duolingo">75</td>
            </tr>
            <tr class="custom-striped-odd">
                <td data-label="Band Score">4.5</td>
                <td data-label="IELTS">4.5</td>
                <td data-label="TOEFL (iBT)">32</td>
                <td data-label="PTE">30</td>
                <td data-label="Cambridge English Scale">148</td>
                <td data-label="Duolingo">65</td>
            </tr>
        </tbody>
    </table>
</div>